<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest Login</title>
    <!-- link to external stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <!-- Navigation bar with Next and Previous buttons -->
        <nav>
            <button class="nav-btn" onclick="location.href='{{ url_for('previous_page') }}'">Previous</button>
            <button class="nav-btn" onclick="location.href='{{ url_for('next_page') }}'">Next</button>
        </nav>
    </header>
    <div class="container">
        <h1>Guest Login</h1>
        <form method="POST" action="/guest-login">
            <!-- Submit Button -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login as Guest</button>
            </div>
        </form>
    </div>
    <footer>
        <!-- footer -->
	<p>&copy; ENK 2023 | 256772567472</p>
    </footer>
</body>
</html>
