<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <!-- Include your CSS styles or link to external stylesheets here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Logout</h1>
        <p class="logout-message">You have been logged out.</p>
        <a href="/" class="return-home-link">Return to Home</a>
    </div>
    <footer>
        <p>&copy; ENK 2023 | 256772567472</p>
    </footer>
</body>
</html>
