<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Not Found</title>
    <!-- CSS stylesheets and other metadata -->
    <link rel="stylesheet" href="/static/css/user_not_found.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="user-not-found">
            <h1>User Not Found</h1>
            <p>The requested user does not exist.</p>
            <p><a href="/">Return to Home Page</a></p>
        </section>
    </main>
    <footer>
	    <!-- footer goes here-->
    </footer>
</body>
</html>
